*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:#B0C4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    height: 30px;
    border-radius: 5px;
    margin: 10px 0;
}
button{
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
}
li{
    text-transform: capitalize;
    border-radius: 5px;
    list-style: none;
    height: 1rem;
    background-color: white;
    margin: 2px 0;
    height: 2rem;
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    font-size: 30px;
}
#root > img{
    width: 150px;
    display: block;
}